body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #191039;
    color: #fff;
    padding: 10px;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo img {
    height: 70px;
    width: 70px;
  }
  
  .nav-links {
    height: 10px;
    width: auto;
    list-style: none;
    display: flex;
    
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-links li a:hover {
    color: #7cc5f8;
    
  }
  
  main {
    padding: 20px;
    background-color: #7cc5f8;
  }
  .content {
    margin: 0;
    padding: 0;
    background-image: url("front.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
   
    border-radius: 10px;
    text-align: center;
  }
  
  section {
   
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .image img {
    border-radius: solid black;
    max-width: 300px;
  }
  
  .text {
  flex: 1;
  padding: 20px;
  }
  .footer {
    background-color: #191039;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .footer a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
  }
  .footer a:hover {
    text-decoration: underline;
  }
 
  